<!--====== Main App ======-->
<div id="app">
    <!--====== App Content ======-->
    <div class="app-content">

        <%- include('./dashboard_partial/dashboard_nav.ejs'); %>


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <%- include('./dashboard_partial/dashboard_left.ejs'); %>
                            <div class="col-lg-9 col-md-12">
                                <div
                                    class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                    <div class="dash__pad-2">
                                        <div class="dash__address-header">
                                            <h1 class="dash__h1">Address Book</h1>
                                            <!-- <div>

                                                    <span class="dash__link dash__link--black u-s-m-r-8">

                                                        <a href="dash-address-make-default.html">Make default shipping address</a></span>

                                                    <span class="dash__link dash__link--black">

                                                        <a href="dash-address-make-default.html">Make default shipping address</a></span>
                                                    </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                                    <div class="dash__table-2-wrap gl-scroll">
                                        <table class="dash__table-2">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Address 1</th>
                                                    <th>Address 2</th>
                                                    <th>City</th>
                                                    <th>Country</th>
                                                    <!-- <th>Phone Number</th> -->
                                                    <!-- <th>Status</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(address of addresses){ %>
                                                    <tr>
                                                        <td>
                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2"
                                                                href="/dashboard/address/<%= address.address_id %>/edit">Edit</a>
                                                        </td>
                                                        <td>
                                                            <%= address.address_1 %>
                                                        </td>
                                                        <td>
                                                            <%= address.address_2 %>
                                                        </td>
                                                        <td>
                                                            <%= address.city %>
                                                        </td>
                                                        <td>
                                                            <%= address.country %>
                                                        </td>
                                                        <!-- <td>(+0) 900901904</td> -->
                                                        <!-- <td>
                                                            <div class="gl-text">Default Shipping Address</div>
                                                            <div class="gl-text">Default Billing Address</div>
                                                        </td> -->
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>

                                    <a class="dash__custom-link btn--e-brand-b-2" href="/dashboard/address/add"><i
                                            class="fas fa-plus u-s-m-r-8"></i>

                                        <span>Add New Address</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->
</div>
<!--====== End - Main App ======-->