<!--====== Main App ======-->
<div id="app">
    <!--====== App Content ======-->
    <div class="app-content">

        <%- include('./dashboard_partial/dashboard_nav.ejs'); %>

        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <%- include('./dashboard_partial/dashboard_left.ejs'); %>
                            <div class="col-lg-9 col-md-12">
                                <div
                                    class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                    <div class="dash__pad-2">
                                        <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                        <span class="dash__text u-s-m-b-30">Here you can see all products that have been
                                            delivered.</span>
                                        <!-- START OF ORDER LIST -->
                                        <div class="m-order__list">
                                            <% for(order of orders) { %>
                                            <!-- INDIVIDUAL ORDER ELEMENT -->
                                            <div class="m-order__get">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="dash-l-r">
                                                        <div>
                                                            <div class="manage-o__text-2 u-c-secondary">Order #<%= order.order_id %>
                                                            </div>
                                                            <div class="manage-o__text u-c-silver">Placed on <%= order.created_on %></div>
                                                            <div class="manage-o__text u-c-silver">Total: AED <%= order.total_amount %></div>
                                                            <% if(order.status==1) { %>
                                                                <span class="manage-o__badge badge--shipped">Successful Transaction</span>
                                                            <% } else { %>
                                                                <span class="manage-o__badge badge--delivered">Payment Pending</span>
                                                            <% } %>
                                                        </div>
                                                        <div>
                                                            <div class="dash__link dash__link--brand">

                                                                <a href="/dashboard/orders/<%= order.order_id %>">MANAGE</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% for(product of order.order_details) { %>
                                                <div class="manage-o__description">
                                                    <div class="description__container">
                                                        <div class="description__img-wrap">
                                                            <% image_link= product.product
                                                                    && product.product.Category && product.product.Category[0]
                                                                    && product.product.Category[0].name && product.product.image?
                                                                    product.product.Category[0].name + "/" +
                                                                    product.product.image:"product-default.jpg" %>
                                                            <img class="u-img-fluid"
                                                                src="/images/product/<%= image_link %>" alt="">
                                                        </div>
                                                        <div class="description-title"><%= product.product_name %></div>
                                                    </div>
                                                    <div class="description__info-wrap">
                                                        <!-- <div>

                                                            <span
                                                                class="manage-o__badge badge--processing">Processing</span>
                                                        </div> -->
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span
                                                                    class="manage-o__text-2 u-c-secondary"><%= product.quantity %></span></span>
                                                        </div>
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Unit Price:

                                                                <span
                                                                    class="manage-o__text-2 u-c-secondary">AED <%= product.unit_cost %></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                            <!-- INDIVIDUAL ORDER ELEMENT ENDS -->
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->
</div>
<!--====== End - Main App ======-->