<div class="o-summary__section u-s-m-b-30">
    <div class="o-summary__box">
        <h1 class="checkout-f__h1">DELIVERY INFORMATION</h1>
        <div class="checkout-f__delivery">
            <h3> Billing Address </h3>
            <!-- <div
            class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                <div class="dash__address-header">
                    <h1 class="dash__h1">Address Book</h1>
                </div>
            </div>
        </div> -->
            <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                <div class="dash__table-2-wrap gl-scroll">
                    <table class="dash__table-2">
                        <thead>
                            <tr>
                                <th>Select One</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>City</th>
                                <th>Country</th>
                                <!-- <th>Phone Number</th> -->
                                <!-- <th>Status</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <% for(address of addresses){ %>
                                <tr>
                                    <td>
                                        <input type="radio" id="billing_address_id" name="billing_address_id"
                                            value="<%= address.address_id %>">
                                    </td>
                                    <td>
                                        <%= address.address_1 %>
                                    </td>
                                    <td>
                                        <%= address.address_2 %>
                                    </td>
                                    <td>
                                        <%= address.city %>
                                    </td>
                                    <td>
                                        <%= address.country %>
                                    </td>
                                    <!-- <td>(+0) 900901904</td> -->
                                    <!-- <td>
                                <div class="gl-text">Default Shipping Address</div>
                                <div class="gl-text">Default Billing Address</div>
                            </td> -->
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>

                <!-- <a class="dash__custom-link btn--e-brand-b-2"
                href="/dashboard/address/add"><i class="fas fa-plus u-s-m-r-8"></i>

                <span>Add New Address</span>
            </a> -->
            </div>
            <h3> Shipping Address </h3>
            <!-- <div
            class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                <div class="dash__address-header">
                    <h1 class="dash__h1">Address Book</h1>
                </div>
            </div>
        </div> -->
            <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                <div class="dash__table-2-wrap gl-scroll">
                    <table class="dash__table-2">
                        <thead>
                            <tr>
                                <th>Select One</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>City</th>
                                <th>Country</th>
                                <!-- <th>Phone Number</th> -->
                                <!-- <th>Status</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <% for(address of addresses){ %>
                                <tr>
                                    <td>
                                        <input type="radio" id="shipping_address_id" name="shipping_address_id"
                                            value="<%= address.address_id %>">
                                    </td>
                                    <td>
                                        <%= address.address_1 %>
                                    </td>
                                    <td>
                                        <%= address.address_2 %>
                                    </td>
                                    <td>
                                        <%= address.city %>
                                    </td>
                                    <td>
                                        <%= address.country %>
                                    </td>
                                    <!-- <td>(+0) 900901904</td> -->
                                    <!-- <td>
                                <div class="gl-text">Default Shipping Address</div>
                                <div class="gl-text">Default Billing Address</div>
                            </td> -->
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>

                <a class="dash__custom-link btn--e-brand-b-2" href="/dashboard/address/add"><i
                        class="fas fa-plus u-s-m-r-8"></i>

                    <span>Add New Address</span>
                </a>
            </div>
        </div>
    </div>
</div>