<!--====== Main App ======-->
<div id="app">


    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-t-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">

                        <!--====== Product Breadcrumb ======-->
                        <div class="pd-breadcrumb u-s-m-b-30">
                            <ul class="pd-breadcrumb__list">
                                <li class="has-separator">

                                    <a href="/">Home</a>
                                </li>
                                <li class="has-separator">

                                    <a href="/products">Products</a>
                                </li>
                        
                                <li class="is-marked">

                                    <a href="/products">Product Info</a>
                                </li>
                            </ul>
                        </div>
                        <!--====== End - Product Breadcrumb ======-->


                        <!--====== Product Detail Zoom ======-->
                        <div class="pd u-s-m-b-30">
                            <div class="slider-fouc pd-wrap">
                                <div id="pd-o-initiate">
                                    <% image_link=product.category && product.category.name && product.image?
                                        product.category.name + "/" + product.image:"product-default.jpg" %>
                                        <div class="pd-o-img-wrap" data-src="/images/product/<%= image_link %>">

                                            <!-- <img class="u-img-fluid" src="images/product/product-d-1.jpg" data-zoom-image="images/product/product-d-1.jpg" alt=""> -->
                                            <img class="u-img-fluid" src="/images/product/<%= image_link %>"
                                                data-zoom-image="/images/product/<%= image_link %>" alt="">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="/images/product/product-d-2.jpg">

                                            <img class="u-img-fluid" src="/images/product/product-d-2.jpg"
                                                data-zoom-image="/images/product/product-d-2.jpg" alt="">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="/images/product/product-d-3.jpg">

                                            <img class="u-img-fluid" src="/images/product/product-d-3.jpg"
                                                data-zoom-image="/images/product/product-d-3.jpg" alt="">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="/images/product/product-d-4.jpg">

                                            <img class="u-img-fluid" src="/images/product/product-d-4.jpg"
                                                data-zoom-image="/images/product/product-d-4.jpg" alt="">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="/images/product/product-d-5.jpg">

                                            <img class="u-img-fluid" src="/images/product/product-d-5.jpg"
                                                data-zoom-image="/images/product/product-d-5.jpg" alt="">
                                        </div>
                                </div>

                                <span class="pd-text">Click for larger zoom</span>
                            </div>
                            <div class="u-s-m-t-15">
                                <div class="slider-fouc">
                                    <div id="pd-o-thumbnail">
                                        <div>

                                            <img class="u-img-fluid" src="/images/product/product-d-1.jpg" alt="">
                                        </div>
                                        <div>

                                            <img class="u-img-fluid" src="/images/product/product-d-2.jpg" alt="">
                                        </div>
                                        <div>

                                            <img class="u-img-fluid" src="/images/product/product-d-3.jpg" alt="">
                                        </div>
                                        <div>

                                            <img class="u-img-fluid" src="/images/product/product-d-4.jpg" alt="">
                                        </div>
                                        <div>

                                            <img class="u-img-fluid" src="/images/product/product-d-5.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Product Detail Zoom ======-->
                    </div>
                    <div class="col-lg-7">

                        <!--====== Product Right Side Details ======-->
                        <div class="pd-detail">
                            <div>

                                <span class="pd-detail__name">
                                    <%= product.name %>
                                </span>
                            </div>
                            <div>
                                <div class="pd-detail__inline">

                                    <span class="pd-detail__price">AED <%= product.price %></span>

                                    <del class="pd-detail__del">AED <%= product.discounted_price %></del>
                                </div>
                            </div>
                            <div class="u-s-m-b-15">
                                <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star-half-alt"></i>

                                    <span class="pd-detail__review u-s-m-l-4">

                                        <a data-click-scroll="#view-review">
                                            <%= reviews.length %> Reviews
                                        </a></span>
                                </div>
                            </div>
                            <div class="u-s-m-b-15">
                                <div class="pd-detail__inline">

                                    <span class="pd-detail__stock">200 in stock</span>

                                    <span class="pd-detail__left">Only 2 left</span>
                                </div>
                            </div>
                            <div class="u-s-m-b-15">

                                <span class="pd-detail__preview-desc">
                                    <%= product.description %>
                                </span>
                            </div>
                            <div class="u-s-m-b-15">
                                <form class="pd-detail__form" action="/shoppingCart/add" method="POST">
                                    <div class="pd-detail-inline-2">
                                        <div class="u-s-m-b-15">

                                            <!--====== Input Counter ======-->
                                            <div class="input-counter">

                                                <span class="input-counter__minus fas fa-minus"></span>

                                                <input class="input-counter__text input-counter--text-primary-style"
                                                    name="quantity" type="text" value="1" data-min="1" data-max="1000">

                                                <span class="input-counter__plus fas fa-plus"></span>
                                            </div>
                                            <!--====== End - Input Counter ======-->
                                        </div>
                                        <div class="u-s-m-b-15">
                                            <input type="hidden" name="product_id" value="<%=product.product_id%>">
                                            <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="u-s-m-b-15">

                                <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                <ul class="pd-detail__policy-list">
                                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                        <span>Buyer Protection.</span>
                                    </li>
                                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                        <span>Full Refund if you don't receive your order.</span>
                                    </li>
                                    <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                        <span>Returns accepted if product not as described.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--====== End - Product Right Side Details ======-->
                    </div>
                </div>
            </div>
        </div>

        <!--====== Product Detail Tab ======-->
        <div class="u-s-p-y-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pd-tab">
                            <div class="u-s-m-b-30">
                                <ul class="nav pd-tab__list">
                                    <li class="nav-item">

                                        <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a>
                                    </li>
                                    <!-- <li class="nav-item">

                                            <a class="nav-link" data-toggle="tab" href="#pd-tag">TAGS</a></li> -->
                                    <li class="nav-item">

                                        <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS

                                            <span>(<%= reviews.length %>)</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">

                                <!--====== Tab 1 ======-->
                                <div class="tab-pane fade show active" id="pd-desc">
                                    <div class="pd-tab__desc">
                                        <div class="u-s-m-b-15">
                                            <p>
                                                <%= product.description %>
                                            </p>
                                        </div>
                                        <div class="u-s-m-b-30">
                                            <ul>
                                                <li><i class="fas fa-check u-s-m-r-8"></i>

                                                    <span>Buyer Protection.</span>
                                                </li>
                                                <li><i class="fas fa-check u-s-m-r-8"></i>

                                                    <span>Full Refund if you don't receive your order.</span>
                                                </li>
                                                <li><i class="fas fa-check u-s-m-r-8"></i>

                                                    <span>Returns accepted if product not as described.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--====== End - Tab 1 ======-->


                                <!--====== Tab 2 ======-->
                                <!-- <div class="tab-pane" id="pd-tag">
                                        <div class="pd-tab__tag">
                                            <h2 class="u-s-m-b-15">ADD YOUR TAGS</h2>
                                            <div class="u-s-m-b-15">
                                                <form>

                                                    <input class="input-text input-text--primary-style" type="text">

                                                    <button class="btn btn--e-brand-b-2" type="submit">ADD TAGS</button></form>
                                            </div>

                                            <span class="gl-text">Use spaces to separate tags. Use single quotes (') for phrases.</span>
                                        </div>
                                    </div> -->
                                <!--====== End - Tab 2 ======-->


                                <!--====== Tab 3 ======-->
                                <div class="tab-pane" id="pd-rev">
                                    <div class="pd-tab__rev">
                                        <!-- <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>23 Reviews - 4.6 (Overall)</h2>
                                                    </div>
                                                    <div class="gl-rating-style-2 u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>
                                                    <div class="u-s-m-b-8">
                                                        <h4>We want to hear from you!</h4>
                                                    </div>

                                                    <span class="gl-text">Tell us what you think about this item</span>
                                                </div>
                                            </div> -->
                                        <div class="u-s-m-b-30">
                                            <form class="pd-tab__rev-f1">
                                                <!-- <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15">
                                                            <h2>23 Review(s) for Man Ruched Floral Applique Tee</h2>
                                                        </div>
                                                        <div class="u-s-m-b-15">

                                                            <label for="sort-review"></label><select class="select-box select-box--primary-style" id="sort-review">
                                                                <option selected>Sort by: Best Rating</option>
                                                                <option>Sort by: Worst Rating</option>
                                                            </select></div>
                                                    </div> -->
                                                <div class="rev-f1__review">
                                                    <% for(review of reviews) { %>
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">
                                                                    <%= review.customer?
                                                                        review.customer.name: "Anounymous" %>
                                                                </span>

                                                                <span class="review-o__date">
                                                                    <%= review.created_on %>
                                                                </span>
                                                            </div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                <% i=0 %>
                                                                    <% while(i+2<=review.rating){ %>
                                                                        <i class="fas fa-star"></i>
                                                                        <% i+=2 %>
                                                                            <% } %>
                                                                                <% if(i+1==review.rating){ %>
                                                                                    <i class="fas fa-star-half-alt"></i>
                                                                                    <% i+=1 %>
                                                                                        <% } %>
                                                                                            <% while(i+2<=10){ %>
                                                                                                <i
                                                                                                    class="far fa-star"></i>
                                                                                                <% i+=2 %>
                                                                                                    <% } %>

                                                                                                        <span>(4)</span>
                                                            </div>
                                                            <p class="review-o__text">
                                                                <%= review.review %>
                                                            </p>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </form>
                                        </div>
                                        <% if (data) { %>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f2"
                                                    action="/products/<%= product.product_id %>/submitReview"
                                                    method="POST">
                                                    <h2 class="u-s-m-b-15">
                                                        <%= customer_review? 'Update your Review' : 'Add a Review' %>
                                                    </h2>

                                                    <span class="gl-text u-s-m-b-15">Your email address will not be
                                                        published. Required fields are marked *</span>
                                                    <div class="u-s-m-b-30">
                                                        <div class="rev-f2__table-wrap gl-scroll">
                                                            <table class="rev-f2__table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i>

                                                                                <span>(1)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star-half-alt"></i>

                                                                                <span>(1.5)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i>

                                                                                <span>(2)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star-half-alt"></i>

                                                                                <span>(2.5)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i>

                                                                                <span>(3)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star-half-alt"></i>

                                                                                <span>(3.5)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i>

                                                                                <span>(4)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star-half-alt"></i>

                                                                                <span>(4.5)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i><i
                                                                                    class="fas fa-star"></i>

                                                                                <span>(5)</span>
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1"
                                                                                    name="rating" value="2"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="2"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-1"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1.5"
                                                                                    name="rating" value="3"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="3"
                                                                                    ? 'checked' :'' %> >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-1.5"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-2"
                                                                                    name="rating" value="4"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="4"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-2"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-2.5"
                                                                                    name="rating" value="5"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="5"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-2.5"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3"
                                                                                    name="rating" value="6"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="6"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-3"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3.5"
                                                                                    name="rating" value="7"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="7"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-3.5"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4"
                                                                                    name="rating" value="8"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="8"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-4"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4.5"
                                                                                    name="rating" value="9"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="9"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-4.5"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-5"
                                                                                    name="rating" value="10"
                                                                                    <%=customer_review &&
                                                                                    customer_review.rating=="10"
                                                                                    ? 'checked' :'' %>
                                                                                >
                                                                                <div
                                                                                    class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label"
                                                                                        for="star-5"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="rev-f2__group">
                                                        <div class="u-s-m-b-15">

                                                            <label class="gl-label" for="reviewer-text">YOUR REVIEW
                                                                *</label><textarea name="review"
                                                                class="text-area text-area--primary-style"
                                                                id="reviewer-text"><%= customer_review && customer_review.review? customer_review.review:'' %></textarea>
                                                        </div>
                                                    </div>
                                                    <div>

                                                        <button class="btn btn--e-brand-shadow"
                                                            type="submit">SUBMIT</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <% } else { %>
                                                <span class="msg__text">Want to review this product?

                                                    <a class="gl-link" href="/signin">Signin to Review</a></span>
                                                <% } %>
                                    </div>
                                </div>
                                <!--====== End - Tab 3 ======-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Product Detail Tab ======-->
    </div>
    <!--====== End - App Content ======-->

</div>
<!--====== End - Main App ======-->